html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

/* Start NavBar */
nav {
  position: fixed;
  background-color: white;
  width: 100%;
  height: 70px;
  top: 0;
}

.left {
  float: left;
  font-size: 38px;
  line-height: 70px;
  font-family: monospace;
}

.right {
  float: right;
  line-height: 70px;
}

nav ul {
  margin: 0;
}

nav ul li {
  font-size: 24px;
  font-family: sans-serif;
  list-style: none;
  padding: 0 20px;
}

nav ul li a {
  text-decoration: none;
  color: black;
}

/* End NavBar */

/* Start Header */

header {
  background-image: url("https://images.unsplash.com/photo-1524439210809-5b21a2e18582?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1402&q=80");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 65%;
}

.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

header p {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin: 0;
  color: white;
  font-size: 48px;
  padding: 20px;
  margin-left: 40px;
}

.button-container {
  width: 75%;
  display: flex;
  justify-content: flex-start;
}

header a {
  text-decoration: none;
  color: white;
  border: 2px solid white;
  padding: 10px 20px;
}

/* End Header */


/* Start Section One */

#insights {
  margin-top: -100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container-1 {
  display: flex;
  flex-direction: row;
}

.container-2 {
  display: flex;
}

.picture-1 {
  background-image: url("https://i.pinimg.com/236x/66/68/92/6668920bda3b06d4b955085f15da1a15.jpg");
  height: 400px;
  width: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  border-top: 20px solid white;
  border-left: 20px solid white;
  border-bottom: 10px solid white;
  border-right: 10px solid white;
}

.inside-picture {
  width: 600px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inside-words {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 600px;
  padding: 20px 0;
}

.insight-title {
  margin: 0;
  padding: 10px 0;
  font-size: 38px;
  font-family: sans-serif;
}

.insight-title a {
  text-decoration: underline;
  color: black;
}

.insight-title a:hover {
  text-decoration: none;
  opacity: 80%;
}

.insight-paragraph {
  margin: 0;
  width: 500px;
  text-align: center;
  font-size: 24px;
  color: black;
}

.picture-2 {
  background-image: url("https://image.freepik.com/free-photo/stock-market-forex-trading-graph-graphic-concept_73426-170.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
  width: 600px;
  background-color: white;
  border-top: 20px solid white;
  border-left: 10px solid white;
  border-bottom: 10px solid white;
  border-right: 20px solid white;
}

.insight-words-reversed {
  height: 140px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 600px;
  padding: 20px 0;
}

.insight-title-reversed {
  margin: 0;
  padding: 10px 0;
  font-size: 38px;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  width: 600px;
}

.insight-title-reversed a {
  text-decoration: underline;
  color: white;
}

.insight-title-reversed a:hover {
  text-decoration: none;
  opacity: 80%;
}

.insight-paragraph-reversed {
  margin: 0;
  width: 500px;
  text-align: center;
  font-size: 24px;
  color: white;
}

.picture-3 {
  background-image: url("https://i.pinimg.com/236x/d7/2e/d2/d72ed2ee50bcb56711ed5538eebcd0ab.jpg");
  height: 400px;
  width: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  border-top: 10px solid white;
  border-left: 20px solid white;
  border-bottom: 20px solid white;
  border-right: 10px solid white;
}

.picture-4 {
  background-image: url("https://i.pinimg.com/236x/7b/7f/1e/7b7f1e4f69d5cb95e3a87eba3d73dda0.jpg");
  height: 400px;
  width: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  border-top: 10px solid white;
  border-left: 10px solid white;
  border-bottom: 20px solid white;
  border-right: 20px solid white;
}

/* End Section One*/
/* Start Section Two */

#news {
    background-image: url("https://i.pinimg.com/564x/13/72/56/1372566141cf2cbaea51392e7e2a7aeb.jpg");
    width: 100%;
    height: 30%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.news-container {
  width: 100%;
  height: 290px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.news-title{
  font-size: 48px;
  color: white;
  margin: 0;
}

.news-content {
  font-size: 28px;
  color: white;
  width: 800px;
  text-align: center;
}

#news a {
  border: 2px solid white;
  text-decoration: none;
  padding: 10px 20px;
  color: white;
  font-size: 20px;
}

#news a:hover {
  opacity: 80%;
  text-decoration: underline;
}

/* End Section Two */
/* Start Section Three */
